PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_SECRET=ecommerce_super_secret_jwt_key_2026_change_in_production
REDIS_URL=redis://localhost:6379

AUTH_SERVICE_URL=http://localhost:5001
AUTH_SERVICE_URLS=http://localhost:5001

PRODUCT_SERVICE_URL=http://localhost:5002
PRODUCT_SERVICE_URLS=http://localhost:5002

CART_SERVICE_URL=http://localhost:5003
CART_SERVICE_URLS=http://localhost:5003

ORDER_SERVICE_URL=http://localhost:5004
ORDER_SERVICE_URLS=http://localhost:5004
