PORT=5006
NODE_ENV=development
MONGO_URI=mongodb+srv://test:test@cluster0.1pknqka.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=wishlist
REDIS_URL=redis://localhost:6379
JWT_SECRET=your_jwt_secret_key_here
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=wishlist-service
KAFKA_ENABLED=true

