PORT=5004
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/orders
MONGO_DB_NAME=orders
REDIS_URL=redis://localhost:6379
JWT_SECRET=your_jwt_secret_key_here
GATEWAY_URL=http://localhost:5000
