PORT=5001
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/ecommerce
REDIS_URL=redis://localhost:6379
JWT_SECRET=ecommerce_super_secret_jwt_key_2026_change_in_production
GOOGLE_CLIENT_ID=
GATEWAY_URL=http://localhost:5000